.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 8px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #ccc;
  width: 280px;
  height: 190px;
  border-radius: 5px;
  padding: 10px 20px;
  margin-bottom: 20px;
  margin-right: 10px;
  /* margin-left: 30px; */

}

.btn-container {
  display: flex;
  justify-content: space-between;
}

.btn {
  border: none;
  border: 1px solid #4fb4c2;
  background: #4fb4c2;
  color: #fff;
  height: 30px;
  display: inline-block;
  min-width: 90px;
  border-radius: 5px;
  transition: 0.2s;
  cursor: pointer;
  font-size: 14px;
}

.btn:hover {
  background: rgba(79, 181, 194, 0.781);
  color: #f4f4f4;
}

.h2 {
  margin: 0;
  font-size: 16px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  box-sizing: border-box;
  position: fixed;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 350px;
  height: auto;
  padding: 0 0 30px 0;
  padding-bottom: 15px;
  border-radius: 10px;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-main .btn {
  width: 100%;
}

.display-block {
  display: block;
}
.display-usage {
  display: block;
}

.display-none {
  display: none;
}

.hide-display {
  display: none;
}

.hide-formula {
  display: none;
}
.display-formula {
  display: block;
}

.close {
  align-self: flex-end;
  margin-right: 20px;
  font-size: 23px;
  font-weight: bolder;
  cursor: pointer;
  color: red;
}

.formula-modal {
  position: fixed;
  background: white;
  width: 350px;
  height: auto;
  border-radius: 5px;
  padding: 20px 0;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.add-formula-btn,
.add-prescr-btn {
  width: 297px;
  height: 33px;
}

.usage-modal {
  position: relative;
  background: white;
  width: 250px;
  height: 250px;
  border-radius: 5px;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.usageFormula-card h4 {
  font-size: 14px;
  margin: 5px;
}

.usageFormula-card button {
  margin-top: 20px;
  width: 100%;
}

.usageFormula-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.pagination {
  margin-top: 5px;
display:flex;
justify-content: center;
}
.pagination span {
cursor: pointer;
color: black;
float: left;
padding: 4px 16px;
text-decoration: none;
transition: background-color .3s;
border: 1px solid #ddd;
}

.error{
  color: red;
  font-size: 12px;
  margin-bottom: -15px
}

.login-error{
  color:red;
  font-size:13px;
  margin-bottom:5px;
  margin-top:-10px
}

.signup-header{
  margin-top:10px;
  margin-bottom:8px
}

@media only screen and (max-width: 600px) {
  .row {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
  }
  .card {
    margin-left: 30px;
  }  
}