img{
    width:50px;
    height:50px;
    border-radius: 50px;
    margin-right: 20px;
}
.login-link, .register{
    text-decoration: none;
    color:#4FB4C2;
    font-weight: normal;
    font-size: 16px;
}
.header{
    background-color: #4FB4C2;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h3{
    color: white;
}
.navlink{
    color: white;
    text-decoration: none;
    font-weight: lighter;
}

.active{
    font-weight: bold;
}
.logo{
    display: flex;
    align-items: center;
    margin-left:80px

}
.navigation-bar{
    margin-right:200px;
    display: flex;
}

.navigation-bar .navlink{
    margin-right: 40px;
}
.left-side{
    background:#DDF8FC;
    height: 530px;
    background-repeat: no-repeat;
    width:55%;
    display:flex;
    flex-direction: column;
    padding-left:20px
}

.app-image{
    width:70%;
    height:70%
}
.homepage{
    display: flex;
}

.top-content {
    background: #06A8BE;
    min-height: calc(100vh - 80px);
    width:15%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }


.compose {
  padding: 20px;
}

.compose__message_wrapper {
    margin-top:20px
}

.first {
    border-radius: 20px;
    background: #DDF8FC;
    text-align: center;
    color: black;
    box-sizing: border-box;
    font-family: 'Sarabun';
    font-weight: bolder;
    border: 1px solid #DDF8FC;
    outline: 0;
    float:right
  }

  
.compose__message_btn {
    width:100%;
    border-radius: 20px;
    padding: 10px;
    background: #DDF8FC;
    text-align: center;
    color: black;
    box-sizing: border-box;
    cursor: pointer;
    font-family: 'Sarabun';
    font-weight: bolder;
    border: 2px solid #d4d0d0;
}

.allcards{
    min-height: calc(100vh - 80px);
}